USE [master]
GO
/****** Object:  Database [RameshMart]    Script Date: 10/4/2023 06:15:50 PM ******/
CREATE DATABASE [RameshMart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RameshMart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RameshMart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RameshMart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RameshMart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RameshMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RameshMart]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[City] [varchar](200) NOT NULL,
	[Street] [varchar](200) NULL,
	[State] [varchar](200) NULL,
	[ID] [int] IDENTITY(1,9) NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardDetails]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardDetails](
	[ID] [int] IDENTITY(7,9) NOT NULL,
	[CardNo] [bigint] NOT NULL,
	[CVV] [int] NOT NULL,
	[ExpDate] [date] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartProducts]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartProducts](
	[ID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[ID] [int] IDENTITY(2,7) NOT NULL,
	[UserID] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,9) NOT NULL,
	[CartID] [int] NULL,
	[TotalPrice] [int] NOT NULL,
	[PaymentMode] [char](3) NOT NULL,
	[TransactionID] [varchar](10) NOT NULL,
	[AddressID] [int] NOT NULL,
	[CardID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,7) NOT NULL,
	[Price] [int] NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Image] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[ProductID] [int] NULL,
	[RATE] [float] NOT NULL,
	[COUNT] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAuth]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAuth](
	[ID] [int] IDENTITY(9,7) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartProducts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAuth] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAuth] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartProducts]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Carts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAuth] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CardID])
REFERENCES [dbo].[CardDetails] ([ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD CHECK  (([CardNo]>(0)))
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD CHECK  (([CVV]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentMode]='COD' OR [PaymentMode]='UPI' OR [PaymentMode]='CRD'))
GO
/****** Object:  StoredProcedure [dbo].[ADDTOCART]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADDTOCART]
	-- Add the parameters for the stored procedure here
	@UserID INT,
	@ProductID INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @CARTID INT
    -- Insert statements for procedure here
	SELECT @CARTID=ID FROM Carts WHERE UserID=@UserID AND IsActive=1;
	IF @CARTID IS NULL
		BEGIN
			INSERT INTO Carts(UserID) VALUES (@UserID);
			SELECT @CARTID=ID FROM Carts WHERE UserID=@UserID AND IsActive=1;
		END
	IF (( SELECT ProductID FROM CartProducts WHERE ID = @CARTID AND ProductID = @ProductID)=0)
	BEGIN
		RETURN;
	END
	INSERT INTO CartProducts(ID,ProductID) VALUES (@CARTID,@ProductID);
END
GO
/****** Object:  StoredProcedure [dbo].[ALTERQUANTITY]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ALTERQUANTITY]
	-- Add the parameters for the stored procedure here
	@UserID INT,
	@ProductID INT ,
	@Quantity INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @CARTID INT
    -- Insert statements for procedure here
	SELECT @CARTID=ID FROM Carts WHERE UserID=@UserID AND IsActive=1;
	IF @CARTID IS NULL
		BEGIN
			RETURN 0
		END
	ELSE
		BEGIN
			UPDATE CartProducts SET Quantity=@Quantity WHERE ID = @CARTID AND [ProductID]=@ProductID ;
		END
	
END
GO
/****** Object:  StoredProcedure [dbo].[GETCARTPRODUCTS]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETCARTPRODUCTS]
	@UserID INT
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @CartID INT
	SELECT @CartID=ID FROM Carts WHERE UserID=@UserID AND IsActive=1;
	IF @CARTID IS NULL
		BEGIN
			RETURN 0
		END
	ELSE
	BEGIN 
		SELECT P.*, CP.quantity
FROM Products p
JOIN CartProducts CP ON p.ID = cp.ProductID
WHERE CP.ID =@CartID;
	END 
END
GO
/****** Object:  StoredProcedure [dbo].[PLACEORDER]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PLACEORDER]
	@UserID INT,
	@PaymentMode CHAR(3),
	@Transaction VARCHAR(10),
	@AddressID INT,
	@CardID INT=null
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @CartID INT,@TotalPrice INT

	SELECT @CartID=ID FROM Carts WHERE UserID=@UserID AND IsActive=1
	IF @CartID IS NULL
		BEGIN
			RETURN 0
		END
	SELECT @TotalPrice=SUM(Price) FROM Products WHERE ID IN (SELECT ProductID FROM CartProducts WHERE ID=@CartID )
	INSERT INTO Orders(PaymentMode,CartID,TotalPrice,TransactionID,AddressID,CardID) VALUES (@PaymentMode,@CartID,@TotalPrice,@Transaction,@AddressID,@CardID);
	UPDATE Carts SET IsActive=0 WHERE ID=@CartID;
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[REMOVEFROMCART]    Script Date: 10/4/2023 06:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[REMOVEFROMCART]
	@UserID INT,
	@ProductID INT
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @CartID INT
	SELECT @CartID=ID FROM Carts WHERE UserID=@UserID
	IF @CARTID IS NULL
		BEGIN
			RETURN 0
		END
	ELSE
	BEGIN 
		DELETE FROM CartProducts WHERE ID=@CartID AND ProductID= @ProductID
	END 
END
GO
USE [master]
GO
